table, th, td {
    border:1px solid black;
  }
  td {text-align: center;}
  
  button#delete {
    color: white;
    background-color: #b92e2e;
    border-radius: 4px;
}

button#update {
    color: white;
    background-color: #5fe136;
    border-radius: 4px;
}

h1 {
    display: flex;
    justify-content: center;
  }